.placeholder-text {
    color: white;
    text-align: center;
    margin-top: 200px;
    background-color: #2dd36f;
    padding: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    cursor: pointer;
}
